{% extends '../../layouts/layout.njk' %}

{% block body %}
  <h1>管理画面</h1>
  <p>/management/user/:id/delete</p>

  <table class="list">
  <tr><th>id</th><td>{{ User.id }}</td></tr>
  <tr><th>氏名(姓)</th><td>{{ User.familyName }}</td></tr>
  <tr><th>氏名(名)</th><td>{{ User.firstName }}</td></tr>
  <tr><th>かな(姓)</th><td>{{ User.familyNameKana }}</td></tr>
  <tr><th>かな(名)</th><td>{{ User.firstNameKana }}</td></tr>
  <tr><th>emailアドレス</th><td>{{ User.email }}</td></tr>
  <tr><th>ユーザータイプ</th><td>{{ User.userType }}</td></tr>
  </table>

  <div>
  <a href="/management/user">戻る</a>
   | 
  <form action="/management/user/{{ User.id }}/delete" method="post">
  <input type="submit" value="削除" />
  </form>
  </div>

{% endblock %}
