{% extends '../layouts/normal.njk' %}

{% block body %}
  <h1>template_webapp_server</h1>
  <p>page: sample001</p>

  <ul>
    <li><a href="/management">管理画面</a></li>
    <li><a href="/">TOP</a></li>
    <li><a href="/samples/">samples</a></li>
    <li><a href="/samples/sample001">sample001</a></li>
    <li><a href="/samples/sample002">sample002</a></li>
  </ul>
{% endblock %}
