{% extends '../layouts/layout.twig' %}

{% block body %}
  <h1>template_webapp_server</h1>
  <h2>logout</h2>
  <p>logout しました。</p>

  <p><a href="/">Top page.</a></a></p>
  <p><a href="/auth/login">login</a></a></p>

{% endblock %}
