{% extends '../layouts/layout.njk' %}

{% block body %}
  <h1>template_webapp_server</h1>
  <h2>login</h2>
  <p>login できませんでした。</p>

  <p><a href="/">Top</a></a></p>
  <p><a href="/auth/login">login</a></a></p>

{% endblock %}
