{% extends '../../layouts/layout.njk' %}

{% block body %}
  <style>
    .imagelist {
      display: flex;
      flex-flow: row wrap;
      justify-content: flex-start;
    }
    .imagelist__item {
      border: 3px #f0f0f0 solid;
      width: 120px;
      height: 120px;
      text-align: center;
    }
    .imagelist__item__name {
    }
    .imagelist__item__image {
      max-width: 120px;
      max-height: 120px;
    }

  </style>

  <h1>管理画面</h1>
  <p>/management/image</p>

  <div>
    <a href="/management/image/new">新規作成</a>
  </div>

  <div class="imagelist">
    {% for image in Images %}
      <div class="imagelist__item">
        <div class="imagelist__item__name">
          {{ image.id }}: {{ image.name }}
        </div>
        <a href="/management/image/{{ image.id }}">
          <div class="imagelist__item__image">
            <img src="{{ image.fileUrl }}" style="height: 100px" /><br>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>

  <hr>
  <div>
    <a href="/management">管理画面TOPへもどる</a>
  </div>

{% endblock %}
